src/ORB_SLAM2/Examples/Monocular/mono_euroc
src/ORB_SLAM2/Examples/Monocular/mono_kitti
src/ORB_SLAM2/Examples/Monocular/mono_tum
src/ORB_SLAM2/Examples/RGB-D/rgbd_tum

KeyFrameTrajectory.txt

src/ORB_SLAM2/build/
src/ORB_SLAM2/Thirdparty/DBoW2/build/
src/ORB_SLAM2/Thirdparty/DBoW2/lib/
src/ORB_SLAM2/Thirdparty/g2o/build/
src/ORB_SLAM2/Thirdparty/g2o/config.h
src/ORB_SLAM2/Thirdparty/g2o/lib/
src/ORB_SLAM2/Vocabulary/ORBvoc.txt
src/ORB_SLAM2/Vocabulary/ORBvoc.bin

src/orb_imu/lib/
src/ORB_SLAM2/lib/

build/
devel/
*~
