<launch>

  <node name="Mono" pkg="orb_imu" args="/home/jinyao/ORB_IMU/src/ORB_SLAM2/Vocabulary/ORBvoc.txt  /home/jinyao/ORB_IMU/src/ORB_SLAM2/Examples/Monocular/euroc_cam_0.yaml" type="Mono">
    <remap from="/image_raw" to="cam0/image_raw" />
  </node>

  <node name="Ekf" pkg="orb_imu" type="Ekf">
    <remap from="/imu" to="/imu0" />
  </node>

</launch>
